In [19]:
from sklearnex import patch_sklearn                         #intel 加速補丁
patch_sklearn()                                             #这个补丁之后的所有import语句导入的来自sklearn的算法，都会优先导入Scikit-Learn优化版本
import numpy as np
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_columns', 500)

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [20]:
#overall potential wage
player22=pd.read_csv("players_22.csv")
player21=pd.read_csv("players_21.csv")
player20=pd.read_csv("players_20.csv")
player19=pd.read_csv("players_19.csv")
player22=player22.drop(columns=['release_clause_eur','club_contract_valid_until','club_joined','nation_jersey_number','nation_position','nation_team_id','club_loaned_from','nation_jersey_number','body_type','real_face','player_tags','player_traits','long_name','sofifa_id','player_url','player_face_url', 'club_logo_url','club_flag_url', 'nation_logo_url', 'nation_flag_url'])
player21=player21.drop(columns=['release_clause_eur','club_contract_valid_until','club_joined','nation_jersey_number','nation_position','nation_team_id','club_loaned_from','nation_jersey_number','body_type','real_face','player_tags','player_traits','long_name','sofifa_id','player_url','player_face_url', 'club_logo_url','club_flag_url', 'nation_logo_url', 'nation_flag_url'])
player20=player20.drop(columns=['release_clause_eur','club_contract_valid_until','club_joined','nation_jersey_number','nation_position','nation_team_id','club_loaned_from','nation_jersey_number','body_type','real_face','player_tags','player_traits','long_name','sofifa_id','player_url','player_face_url', 'club_logo_url','club_flag_url', 'nation_logo_url', 'nation_flag_url'])
player19=player19.drop(columns=['release_clause_eur','club_contract_valid_until','club_joined','nation_jersey_number','nation_position','nation_team_id','club_loaned_from','nation_jersey_number','body_type','real_face','player_tags','player_traits','long_name','sofifa_id','player_url','player_face_url', 'club_logo_url','club_flag_url', 'nation_logo_url', 'nation_flag_url'])

label=["short_name",'overall','potential','wage_eur']
player22=player22[label]
player21=player21[label]
player20=player20[label]
player19=player19[label]

#temp=pd.concat([player20.iloc[1,:].transform,player21.iloc[2,:],player22.iloc[3,:]],axis=0)

#display(player20.iloc[1,:],player21.iloc[2,:],player22.iloc[3,:])
#print(player20[["short_name",'overall','potential','wage_eur']].iloc[1,:])
df=pd.DataFrame()

count=0
index22=0
index21=0
index20=0
index19=0
for i in player22["short_name"]:
    index21=0
    for j in player21['short_name']:
        if i==j:
            index20=0
            for k in player20['short_name']:
                if j==k:
                    index19=0
                    for l in player19['short_name']:
                        if k==l:
                            #print(index19,index20,index21,index22)
                            #print(l,k,j,i)
                            tmp=pd.concat([player19.iloc[index19,:].to_frame().transpose().reset_index(),player20.iloc[index20,1:].to_frame().transpose().reset_index(),player21.iloc[index21,1:].to_frame().transpose().reset_index(),player22.iloc[index22,1:].to_frame().transpose().reset_index()],axis=1,ignore_index=True)
                            df=pd.concat([df,tmp],axis=0,ignore_index=True)
                            #display(df)
                            #display(temp21)
                            #display(temp22)
                            #display(df)
                            break
                        index19+=1
                    break
                index20+=1
            break
        index21+=1
    index22+=1
df=df.drop([0,5,9,13],axis=1)

C:\Users\louis\AppData\Local\Temp\ipykernel_17936\475726925.py:2: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  player22=pd.read_csv("players_22.csv")

In [30]:

column={1:'short_name',2:"2019_overall",3:'2019_potential',4:'2019_wage_eur',6:"2020_overall",7:'2020_potential',8:'2020_wage_eur',10:"2021_overall",11:'2021_potential',12:'2021_wage_eur',14:"2022_overall",15:'2022_potential',16:'2022_wage_eur'}
df.rename(columns=column,inplace=True)
display(df)

,1,2019_overall,2019_potential,2019_wage_eur,2020_overall,2020_potential,2020_wage_eur,2021_overall,2021_potential,2021_wage_eur,2022_overall,2022_potential,2022_wage_eur
0,L. Messi,94,94,575000.0,94,94,560000.0,93,93,560000.0,93,93,320000.0
1,R. Lewandowski,90,90,200000.0,89,89,230000.0,91,91,240000.0,92,92,270000.0
2,Cristiano Ronaldo,94,94,400000.0,93,93,410000.0,92,92,220000.0,91,91,270000.0
3,K. De Bruyne,91,92,350000.0,91,91,370000.0,91,91,370000.0,91,91,350000.0
4,J. Oblak,90,93,90000.0,91,93,125000.0,91,93,125000.0,91,93,130000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8909,H. Singh,68,69,3000.0,64,64,500.0,63,63,1000.0,48,56,500.0
8910,D. Collins,64,64,3000.0,49,62,500.0,48,61,500.0,47,56,500.0
8911,D. Da Silva,78,78,30000.0,78,78,40000.0,77,77,40000.0,47,55,500.0
8912,H. Singh,68,69,3000.0,64,64,500.0,63,63,1000.0,47,64,500.0
8913,C. Porter,62,62,4000.0,62,62,3000.0,63,63,2000.0,47,59,500.0